@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #ffffff;
}

.mallard {
    background: #4299f0;
    max-width: 1280px;
    margin: 50px auto 20px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mallard .mallard-left {
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.mallard-left .mallard-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.mallard-left .mallard-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.mallard-btn button {
    background: rgb(3, 87, 254);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;

    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;

    cursor: pointer;
}

.mallard-btn a {
    text-decoration: none;
    color: #000;
}

.mallard-btn a span {
    margin-left: 10px;
}

.mallard-left .mallard-social {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mallard-social a {
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mallard .profile-card {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
}

.profile-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.profile-card .profile-detail {
    padding: 20px;
    text-align: center;
}